:root {
  --blue: rgb(5, 5, 127);
}

.container {
  background-color: rgb(218, 214, 214);
  height: 50vh;
  width: 100vw;
  margin-top: 25vh;
  margin-bottom: 25vh;
  display: grid;
  grid-template-areas:
    "header footer footer"
    "main footer footer"
    "main footer footer";
  grid-template-rows: 1fr 15fr;
  grid-template-columns: 2fr 6fr;
}

.top-left {
  background: var(--blue);
  grid-area: header;
  text-align: center;
  color: white;
  padding: 8px;
  margin-bottom: 2px;
}

.bottom-left {
  color: white;
  background: var(--blue);
  grid-area: main;
  text-align: center;
}

.right {
  font-size: 60px;
  background: rgb(218, 214, 214);
  color: var(--blue);
  grid-area: footer;
  align-self: center;
  text-align: center;
}

footer > button {
  background-color: var(--blue);
  color: white;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
}

main button:first-of-type {
  background-color: red;
  color: white;
}

main button {
  background-color: greenyellow;
}
